* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-color: #080149;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

body {
    background-color: #080149;
}

nav {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 22px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f5f5f5;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.wave {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: auto;
    will-change: transform;
    z-index: 0;
}

.wave1 {
    bottom: 32%;
}

.wave2 {
    bottom: 25%;
}

.wave3 {
    bottom: 12%;
}

.wave4 {
    bottom: 3%;
}

.wave5 {
    bottom: 0;
    z-index: 1;
}


.text-box {
    position: relative;
    text-align: center;

}

.text-box h1 {
    width: 85%;
    color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 62px;
    text-align: center;
    z-index: 1;
    font-weight: 600;
}

.text-box p {
    position: relative;
    font-size: 22px;
    color: #f5f5f5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.text-box h5 {
    position: relative;
    font-weight: normal;
    font-size: 22px;
    color: #f5f5f5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 20px;
    z-index: 4;
}

.herobtn {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    z-indez: 4;
}

.hero-btn {
    position: relative;
    text-decoration: none;
    color: #f5f5f5;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    z-index: 4;
}

.hero-btn:hover {
    background: #122c4f;
    transition: 1s;

}
h2{
    text-align: center; 
    margin-top: 50px;
    font-size: 60px; 
    color:#f5f5f5; 
    margin-bottom: 30px;
}

nav .fa {
    display: none;
}

/*pentru adaptarea scrisului la alte dispozitive*/
@media(max-width: 700px) {

    .header {
        height: 50vh;
    }

    .text-box h1 {
        font-size: 30px;
    }

    .text-box p {
        font-size: 14px;
    }

    .text-box h5 {
        font-size: 16px;
    }

    .nav-links ul li {

        display: block;
    }

    .nav-links {
        z-index: 200;
        position: fixed;
        background: #080149;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #f5f5f5;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links {
        padding: 3px;

    }

    .hero-btn {
        font-size: 18px;
    }

   
    .wave1 {
        bottom: 35px;
        z-index: 100;
    }

    .wave2 {
        bottom: 25px;
        z-index: 100;
    }

    .wave3 {
        bottom: 15px;
        z-index: 100;
    }

    .wave4 {
        bottom: 5px;
        z-index: 100;
    }

    .wave5 {
        bottom: 0;
        z-index: 100;
    }
    h2{
        position: relative;
        width: 80%;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}

.container {
    position: relative;
    z-index: 5;
    background-color: #080149;
    padding-top: 120px;
    padding-bottom: 70px;
}

.container-home {
    width: 85%;
    background: #2c0271;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container-home p {
    width: 85%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
    font-size: 24px;
    color: #f1f1f1;
}


.box {
    width: 550px;
    background: #b103ab;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.box p {
    margin: 5px;
    font-size: 22px;
    text-align: left;
    margin-left: 10px;
    color: #f5f5f5;
}

.box2 {
    width: 550px;
    background: #b103ab;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.box2 p {
    margin: 5px;
    font-size: 22px;
    text-align: left;
    margin-left: 10px;
    color: #f5f5f5;
}




.review-home {
    padding: 40px 20px;
    text-align: center;
}


.review-home-chenar {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
}

.reviews-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    text-align: center;
}

.review-card-wrapper {

    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10px 20px;

}

.review-card-inner {

    width: 350px;
    height: 250px;
    background: rgba(44, 2, 113);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3);

    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.review-card-inner h1 {
    font-size: 27px;
    color: #f5f5f5;
    text-align: center;

}

.review-card-inner h2 {
    margin-top: 0px;
    color: #fcd21c;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: center;
}

.review-card-inner h3 {
    color: #bac6c7;
    font-size: 17px;
    text-align: center;
}

.review-card-inner p {
    position: relative;
    margin-top: -10px;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    word-break: break-word;
}

.container-home2 {
    width: 80%;
    background: #2c0271;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;

}

.container-home2 p {
    text-align: justify;
    color: #f5f5f5;
    font-size: 22px;
}


.love {
    position: relative;
    display: flex;
    gap: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0 0 0;
}

.container-love1 {
    width: 350px;
    height: 200px;
    background-color: rgba(246, 9, 132);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 20px;
    color: #f5f5f5;
    text-align: justify;
}

.container-love2 {
    width: 470px;
    background: #d72bd1;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 20px;
    color: #f5f5f5;
    text-align: justify;
}

.container-love3 {
    width: 350px;
    height: 200px;
    background-color: rgba(215, 45, 209);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 20px;
    color: #f5f5f5;
    text-align: justify;
}

@media (max-width: 700px) {
    .love {
        width: 100%;
        flex-direction: column;
    }

    .container-love1,
    .container-love2,
    .container-love3 {
        width: 300px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .allbox {
        flex-direction: column;
    }

    .box,
    .box2 {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }

    .review-card-inner {
        width: 200px;
        height: 350px;
    }


    .container-home2 {
        width: 70%;
    }
}

.container-home3 {
    width: 85%;
    background: #2c0271;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container-home3 p {
    width: 85%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
    font-size: 24px;
    color: #f1f1f1;
}