* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-main: #080149;
    --bg-container: #2c0271;
    --text-color: #f5f5f5;
    --bg-line: #f60984;
}

body.dark-theme {
    --bg-main: #f9f5ff;
    --bg-container: #ffffff;
    --text-color: #202123;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-main);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}


nav {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 200px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 22px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--text-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.wave {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: auto;
    will-change: transform;
    z-index: 0;
}

.wave1 {
    bottom: 32%;
}

.wave2 {
    bottom: 25%;
}

.wave3 {
    bottom: 12%;
}

.wave4 {
    bottom: 3%;
}

.wave5 {
    bottom: 0;
    z-index: 1;
}


.text-box {
    position: relative;
    font-family: "Poppins";
    margin-left: 5%;
}

.text-box h1 {
    color: var(--text-color);
    position: relative;
    font-size: 120px;
    text-align: left;
    z-index: 1;
    font-weight: 900;
    font-family: "League Spartan";
    margin-top: 5px;
}

.text-box p {
    font-size: 22px;
    color: var(--text-color);
    text-align: left;
    z-index: 1;
    font-weight: bold;
    margin-top: 10px;
}

.text-box h5 {
    position: relative;
    font-size: 22px;
    color: #f5f5f5;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 20px;
    z-index: 4;
}

.herobtn {
    position: relative;
    display: flex;
    justify-content: left;
    gap: 20px;
    text-align: center;
    z-index: 4;
}

.hero-btn {
    background-color: #f60984;
    color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 4;
}

.hero-btn:hover {
    background: #b103ab;
    transition: 0.6s;

}

h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    color: var(--text-color);
    font-family: "League Spartan";
    margin-bottom: 30px;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {

    .header {
        height: 50vh;
    }

    .text-box h1 {
        margin-top: 0;
        font-size: 50px;
    }

    .text-box p {
        margin-top: 40px;
        font-size: 25px;
    }

    .text-box h5 {
        font-size: 22px;
    }

    .nav-links ul li {

        display: block;
    }

    .nav-links {
        z-index: 200;
        position: fixed;
        background: var(--bg-main);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: var(--text-color);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links {
        padding: 3px;

    }

    .hero-btn {
        font-size: 18px;
    }


    .wave1 {
        bottom: 35px;
        z-index: 100;
    }

    .wave2 {
        bottom: 25px;
        z-index: 100;
    }

    .wave3 {
        bottom: 15px;
        z-index: 100;
    }

    .wave4 {
        bottom: 5px;
        z-index: 100;
    }

    .wave5 {
        bottom: 0;
        z-index: 100;
    }

    h2 {
        position: relative;
        width: 80%;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}

.container {
    position: relative;
    background-color: var(--bg-main);
    z-index: 6;
    padding-top: 120px;
    padding-bottom: 70px;
}

.container-home {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    display: flex;
    gap: 0;
    padding-top: 30px;
    padding-bottom: 50px;
}

.container-home-h1 {
    border-right: 2px solid var(--bg-line);
    height: 450px;
}

.container-home p {
    width: 85%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
    font-size: 22px;
    color: var(--text-color);
    margin-top: -30px;
}

@media (max-width: 700px) {
    .container-home{
        flex-direction: column;
    }
    .container-home p{
        margin-top: normal;
        font-size: 18px;
    }
    .container-home-h1{
        border: none;
        height: auto;
    }
}

.review-home {
    padding: 40px 30px;
    text-align: center;
}

.review-home-chenar {
    display: flex;
    overflow: hidden;
}

.reviews-container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.reviews-container p {
    text-align: center;
    color: var(--text-color);
    font-size: 20px
}

.review-card-inner {
    
    width: 300px;
    height: 250px;
    background: rgba(44, 2, 113);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3);
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.review-card-inner h1 {
    font-size: 27px;
    color: #f5f5f5;
    text-align: center;
    
}

.review-card-inner h2 {
    margin-top: 0px;
    color: #fcd21c;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: center;
}

.review-card-inner h3 {
    color: #bac6c7;
    font-size: 17px;
    text-align: center;
}

.review-card-inner p {
    position: relative;
    margin-top: -10px;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    word-break: break-word;
}

.add {
    width: 100%;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.love,
.allbox {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 40px 0 0 0;
    align-items: center;
    width: auto;
}

.allbox {
    gap: 40px;
}

.box {
    width: 550px;
    background: #2c0271;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.box p {
    margin: 5px;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    color: #f5f5f5;
}
.card-love {
    width: 550px;
    border-bottom: 2px solid var(--bg-line);
    padding: 20px;
    font-size: 20px;
    color: #f5f5f5;
    text-align: justify;
}

.card-love p {
    color: var(--text-color);
}

.love2 {
    border: none;
}

.container-home3 {
    width: 85%;
    background: #2c0271;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container-home3 p {
    width: 85%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
    font-size: 22px;
    color: #f1f1f1;
}

@media (max-width: 700px) {

    .add{
        flex-direction: column;
    }
    .allbox{
        width: 90%;
    }

    .card-love{
        width: 90%;
        font-size: 18px;
    }
    .box{
        width: 90%;
        font-size: 18px;
    }

    .review-card-inner {
        width: 200px;
        height: 350px;
    }
    .review-card-inner p{
        font-size: 18px;
    }

    .container-home3 p{
        font-size: 18px;
    }
}











.site-footer {
    position: relative;
    background-color: #080149;
    color: #f5f5f5;
    padding: 30px 0;
    position: relative;
    z-index: 10;
    width: 100%;
}

.site-footer img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
}

.footer-content {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-content p {
    font-size: 16px;
}

.theme-btn {
    background-color: #f60984;
    color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.theme-btn:hover {
    background-color: #b103ab;
    transform: scale(1.05);
}

@media (max-width:700px)
{
    .footer-content{
        flex-direction: column;
        width: 90%;
    }
    .site-footer img{
        margin-top: 50px;
    }
    .theme-btn{
        margin-top: 40px;
    }
}