body {
    background: #080149;
    font-family: Poppins;
}
.header-fix {
    position: fixed;
    top: 0;     
    left: 0;
    width: 100%;      
    height: 80px;
    background-color: #080149;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    z-index: 100;
    padding: 20px;
    box-sizing: border-box;
}

.buton {
    color: #f5f5f5;
    text-decoration: none; 
    padding: 10px 20px;
    border-radius: 4px; 
    background-color: #f60984;
    transition: background 0.3s ease; 
    flex-shrink: 0;
}

.linie-sageata {
    position: relative;
    flex-grow: 1;
    height: 2px;
    background-color: #f60984; 
    margin: 0 15px;
}

.linie-sageata.stanga::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 8px solid #f60984;
}

.linie-sageata.dreapta::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -2px;
    transform: translateY(-50%);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #f60984;
}
.buton i{
    display: none;
}

.tab-section {
    margin: 50px 0;
    display: block;
}


.title h3 {
    position: relative;
    font-size: 50px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    color: #f5f5f5;
}


.title h3:hover {
    color: #21618c;
}

.tabs {
    margin-left: 75px;
    display: flex;
    gap: 0px;
    margin-bottom: 0;
}

button {
    border: 2px solid transparent;
}

.tab-btn {

    background: white;
    border-color: white;
    border-radius: 10px 10px 0 0;
    padding: 14px 12px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #154360;
    transition: all 0.3s ease;
}

.tab-btn:hover {
    border-color: #3498db;
    color: #000;

}

.tab-btn.active {
    border-color: #154360;
    border-bottom: 2px solid white;
    color: #000;
    background: white;
    position: relative;
    transform: translateY(2px);
    z-index: 2;
}

.content {
    width: 80%;
    display: none;
    background: white;
    padding: 30px;
    min-height: 250px;
    border-radius: 0 10px 10px 10px;
    border: 2px solid #154360;
    margin-left: 75px;
}

.content.active {
    display: block;
}

.prezi-container {
    position: relative;
    width: 80%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 30px auto 0px;
}

.prezi-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.content p,
.content.active p {
    text-align: justify;
    font-size: 20px;
    width: 90%;
    margin-left: 5%;
}

.content.active h6,
.content h6 {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 2%;
}

.subtitle {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 5%;
    font-weight: bold;
}

.subtitle p {
    text-align: justify;
    font-weight: normal;
    font-size: 20px;
    font-weight: 0;
    width: 90%;
    margin-left: 7%;
}

.timeline-nav {
    position: fixed;
    right: 3%;
    top: 12%;   
    bottom: 5%; 
    width: 150px;
    z-index: 100;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.timeline-nav::-webkit-scrollbar {
    display: none;
}

.timeline-nav {
    -ms-overflow-style: none;  
    scrollbar-width: none;
}
.timeline-step {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row-reverse;
    cursor: pointer;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    transition: top 0.1s ease;
}

.timeline-step .circle {
    width: 16px;
    height: 16px;
    border: 3px solid #ccc;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: 2;
}

.timeline-step .step-text {
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s ease;
    white-space: nowrap;
}

.timeline-line-bg {
    position: absolute;
    right: 9px; 
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ccc;
    z-index: 0;
}

.timeline-line-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #f60984;
    transition: height 1.0s ease;
}

.timeline-step.active .circle {
    border-color: #f60984;
    box-shadow: 0 0 8px rgba(246, 9, 132, 0.5);
}

.timeline-step.active .step-text {
    color: #9b9b9b; 
    font-weight: 600;
}
@media (max-width: 700px) {
    .timeline-nav{
        display: none;
    }
    .content, .content{
        width: 100%;
        margin: 0;
        padding: 5px;
    }
    .tab-section{
        width: 90%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .tabs{
        margin: 0;
    }
    .tab-btn{
        padding: 10px 6px;
    }
    .prezi-container{
        width: 100%;
    }
    .header-fix{
        padding: 20px 5px;
    }
    .buton{
        font-size: 15px;
        padding: 5px 5px;
    }
    .title h3{
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .buton i{
        display: inline;
        font-size: 25px;
    }
    .buton span{
        display: none;
    }
    .buton-centru{
        background: #080149;
        padding: 0;
    }
    .linie-sageata{
        display: none;
    }
}